<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crime details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home_style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'> 
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body class="body">
<div class="login-page">
  <div class="form">
<form>
<a href=gg ><button type="button" >
            View Crime reports
          </button></a>
 <textarea type="text" id="firstname" name="content" style="width:635px; height:350px;" >{{mes}}</textarea>
 <br>
 <br>
 <a href=goback ><button type="button" >
              LOGOUT
            </button></a>
 </form>
  </div>
</div>
    <script>
    </script>
</body>
</html>